
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.1rem;
}.exercise-xkP {
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  align-items: center;

  .auto-group-sroy-t8F {
    width: 100%;
    height: 299rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-de9d-bYT {
      width: 144.0484rem;
      height: 86.45rem;
      position: absolute;
      left: 0;
      top: 0;

      .section-image-7Wo {
        vertical-align: top;
        width: 124rem;
        height: 69.75rem;
        position: absolute;
        left: 10rem;
        top: 16.7rem;
        object-fit: contain;
      }
      .divtp-widget-container-D43 {
        align-items: flex-start;
        padding-left: 3.1rem;
        left: 2.5rem;
        overflow: hidden;
        display: flex;
        top: 77rem;
        box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.1000000015);
        background-color: #ffffff;
        border-radius: 5rem;
        box-sizing: border-box;
        width: 30rem;
        height: 6.8rem;
        position: absolute;

        .rectangle-814-JLP {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 1.5rem 1.5rem 0rem 0rem;
          width: 3.6rem;
          height: 3.7rem;
        }
        .auto-group-j2ab-QPR {
          margin: 1rem 0rem 1.95rem 0rem;
          width: 20.6rem;
          height: calc(100% - 2.95rem);
          flex-shrink: 0;

          .divtp-title-KWP {
            margin-bottom: 0.25rem;
            box-sizing: border-box;
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            font-size: 1.4rem;
            white-space: nowrap;
            padding-top: 0.2rem;
            width: 100%;
            overflow: hidden;
            line-height: 1.2857142857;
            height: 1.8rem;
            position: relative;
            font-weight: 500;
            color: #41495b;
          }
          .join-now-to-get-20-instant-discount-NDm {
            font-weight: 400;
            line-height: 1.5;
            color: #8993aa;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 1.2rem;
          }
        }
        .auto-group-xkm5-5dy {
          vertical-align: top;
          flex-shrink: 0;
          width: 1.5rem;
          height: 0.9944rem;
          position: relative;
          object-fit: contain;
        }
      }
      .banner-AQX {
        width: 144rem;
        height: 8.6rem;
        position: absolute;
        left: 0.0484rem;
        top: 6.0422rem;
        background-color: #051241;
        box-sizing: border-box;
        padding: 2.4rem 4rem 2.4rem 65.9rem;

        .divcontent-container-51h {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .auto-group-bxxw-2Bq {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.8rem 1.848rem 1rem 0rem;
            height: 100%;

            .navigation-link-home-XPV {
              font-weight: 700;
              text-transform: uppercase;
              color: #fcf8ed;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.2rem 2.4rem 0rem 0rem;
              display: flex;
              font-size: 1.8rem;
              line-height: 1;
            }
            .navigation-link-glasfaser-DXD {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.2rem 3rem 0rem 0rem;
              font-weight: 700;
              line-height: 1;
              font-family: Lato, 'Source Sans Pro';
              display: flex;
              font-size: 1.8rem;
              text-transform: uppercase;
              color: #fcf8ed;
            }
            .navigation-link-aiassistant-WmD {
              flex-shrink: 0;
              margin: 0rem 4.8rem 0.2rem 0rem;
              font-size: 1.8rem;
              text-transform: uppercase;
              color: #fcf8ed;
              white-space: nowrap;
              display: flex;
              font-weight: 700;
              line-height: 1;
              font-family: Lato, 'Source Sans Pro';
            }
            .navigation-link-aiassistant-cpF {
              margin: 0rem 5.752rem 0.2rem 0rem;
              line-height: 1;
              text-transform: uppercase;
              color: #fcf8ed;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.8rem;
              font-weight: 700;
              flex-shrink: 0;
            }
            .navigation-link-about-XwD {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              color: #fcf8ed;
              font-family: Lato, 'Source Sans Pro';
              line-height: 1;
              text-transform: uppercase;
              margin-top: 0.2rem;
              font-size: 1.8rem;
              font-weight: 700;
            }
          }
          .navigation-link-f1q {
            padding: 1.1rem 1.5rem 0.9rem 1.65rem;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #2d2d44;
            border-radius: 0.6rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .octicon-person-24-zZu {
              margin: 0rem 1.05rem 0.199rem 0rem;
              width: 1.4994rem;
              height: 1.5847rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .login-vTZ {
              display: flex;
              line-height: 1;
              color: #f5f5f5;
              font-size: 1.8rem;
              font-weight: 700;
              text-transform: uppercase;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .rectangle-809-Ez3 {
        vertical-align: top;
        width: 21.7rem;
        height: 20.2rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
    }
    .group-91-mUB {
      display: flex;
      align-items: center;
      width: 39.45rem;
      height: 1.9rem;
      position: absolute;
      left: 52.15rem;
      top: 92.05rem;

      .section-list-item-link-home-UdV {
        font-size: 1.6rem;
        line-height: 1.1000000238;
        flex-shrink: 0;
        margin: 0rem 0.95rem 0.1rem 0rem;
        justify-content: center;
        font-weight: 400;
        color: #34343c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
      }
      .ooui-next-ltr-msV {
        flex-shrink: 0;
        margin: 0rem 1.52rem 0.05rem 0rem;
        width: 0.78rem;
        height: 1.35rem;
        object-fit: contain;
        vertical-align: top;
      }
      .section-list-item-link-programs-JMd {
        margin: 0rem 1.2rem 0.1rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        line-height: 1.1000000238;
        color: #34343c;
        font-family: Poppins, 'Source Sans Pro';
      }
      .ooui-next-ltr-BgK {
        height: 1.35rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.12rem 0.05rem 0rem;
        width: 0.78rem;
      }
      .section-list-item-boxing-classes-usD {
        white-space: nowrap;
        margin: 0.1rem 1.4rem 0rem 0rem;
        font-weight: 400;
        line-height: 1.1000000238;
        color: #34343c;
        display: flex;
        font-size: 1.6rem;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .ooui-next-ltr-cWj {
        flex-shrink: 0;
        margin: 0rem 1.12rem 0.05rem 0rem;
        width: 0.78rem;
        height: 1.35rem;
        object-fit: contain;
        vertical-align: top;
      }
      .section-list-item-boxing-classes-jrF {
        margin-bottom: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.1000000238;
        color: #34343c;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .section-rR5 {
      width: 74.4rem;
      height: 10.3759rem;
      position: absolute;
      left: 34.86rem;
      top: 96.3422rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .heading-1-boxing-classes-NuD {
        font-weight: 600;
        color: #23346f;
        display: flex;
        justify-content: center;
        font-size: 4rem;
        line-height: 1.0725000381;
        font-family: Crimson Text, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.12rem 0.776rem 0rem;
        align-items: center;
      }
      .the-barbell-curl-is-a-classic-and-effective-bicep-exercise-that-targets-the-muscles-in-the-front-of-your-upper-arms-specifically-the-biceps-brachii-gQ7 {
        align-items: center;
        justify-content: center;
        font-weight: 400;
        color: #13436e;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 74.4rem;
        display: flex;
        font-size: 1.8rem;
        line-height: 1.4666666455;
      }
    }
    .auto-group-eajk-LDm {
      width: 114.3rem;
      height: 40rem;
      position: absolute;
      left: 14.3rem;
      top: 111.3422rem;

      .section-heading-3-burn-more-calories-T3V {
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.0999999799;
        color: #0f0d80;
        white-space: nowrap;
        left: 0;
        top: 1.6578rem;
        display: flex;
        font-family: Poppins, 'Source Sans Pro';
        width: 18.9rem;
        height: 2.1rem;
        position: absolute;
      }
      .section-boxing-engages-all-your-muscle-Yaj {
        width: 25.3rem;
        height: 8.8rem;
        position: absolute;
        top: 4.8848rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.4666666667;
        font-family: Poppins, 'Source Sans Pro';
        left: 0;
        color: #34343c;
      }
      .section-heading-3-improve-your-coordination-eNs {
        line-height: 1.0999999799;
        font-family: Poppins, 'Source Sans Pro';
        width: 29.9rem;
        position: absolute;
        left: 83.3rem;
        text-align: right;
        display: flex;
        white-space: nowrap;
        height: 2.1rem;
        top: 2.4578rem;
        font-size: 1.9rem;
        font-weight: 600;
        color: #100d81;
      }
      .section-learn-to-move-your-hands-and-feet-8Yw {
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        top: 6.0078rem;
        display: flex;
        position: absolute;
        left: 84rem;
        text-align: right;
        font-size: 1.5rem;
        line-height: 1.4666666667;
        color: #34343c;
        width: 29.2rem;
        height: 11rem;
      }
      .section-heading-3-strengthen-your-body-2uD {
        position: absolute;
        left: 0;
        font-weight: 600;
        line-height: 1.0999999799;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 19.2rem;
        height: 2.1rem;
        top: 18.4348rem;
        display: flex;
        font-size: 1.9rem;
        color: #100d81;
      }
      .section-while-also-getting-your-heart-rate-up-jHq {
        color: #34343c;
        width: 27.7rem;
        top: 22.7738rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.4666666667;
        font-family: Poppins, 'Source Sans Pro';
        height: 8.8rem;
        position: absolute;
        left: 0;
      }
      .section-qLs {
        vertical-align: top;
        width: 44.142rem;
        height: 7.644rem;
        position: absolute;
        left: 0;
        top: 21.0578rem;
        object-fit: contain;
      }
      .indicator-leftsvg-Ae3 {
        position: absolute;
        left: 0.0484rem;
        top: 4.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 35.8rem;
        height: 6.1rem;
      }
      .section-heading-3-relieve-your-stress-hP5 {
        font-weight: 600;
        line-height: 1.0999999799;
        color: #100d81;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.9rem;
        height: 2.1rem;
        position: absolute;
        left: 91.3rem;
        top: 18.4578rem;
        text-align: right;
        display: flex;
        width: 21.9rem;
      }
      .section-much-like-a-runners-high-boxing-PWo {
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        height: 13.2rem;
        position: absolute;
        left: 83.2rem;
        top: 21.8078rem;
        text-align: right;
        line-height: 1.4666666667;
        width: 30.7rem;
        color: #34343c;
        font-family: Poppins, 'Source Sans Pro';
      }
      .indicator-rightsvg-H6P {
        width: 38.2rem;
        height: 6rem;
        position: absolute;
        left: 76.1rem;
        top: 21.0578rem;
        object-fit: contain;
        vertical-align: top;
      }
      .indicator-rightsvg-fill-cPZ {
        vertical-align: top;
        width: 41.3rem;
        height: 8.4rem;
        position: absolute;
        left: 73rem;
        top: 4.2578rem;
        object-fit: contain;
      }
      .ellipse-1-YHD {
        top: 0;
        background-color: rgba(25, 47, 126, 0.8199999928);
        border-radius: 20rem;
        width: 40rem;
        height: 40rem;
        position: absolute;
        left: 35.2484rem;
      }
      .rectangle-810-5H9 {
        top: 3.0578rem;
        object-fit: cover;
        vertical-align: top;
        width: 45.3rem;
        height: 36.6rem;
        position: absolute;
        left: 33.5rem;
      }
    }
    .section-zuu {
      top: 154.85rem;
      width: 71.5484rem;
      height: 17.142rem;
      position: absolute;
      left: 33.8rem;

      .heading-2-about-the-class-8WK {
        color: #100d81;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 3.442rem;
        display: flex;
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 1.1000000147;
      }
      .the-barbell-curl-is-a-classic-and-effective-bicep-exercise-that-targets-the-muscles-in-the-front-of-your-upper-arms-specifically-the-biceps-brachii-barbell-curls-into-your-workout-routine-can-help-develop-and-strengthen-your-biceps-contributing-to-overall-arm-strength-and-aesthetics-3tB {
        line-height: 1.35;
        color: #34343c;
        font-family: Poppins, 'Source Sans Pro';
        margin-left: 0.0484rem;
        max-width: 71.5rem;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .heading-2-about-the-class-ed5 {
      height: 2.9rem;
      position: absolute;
      top: 179.35rem;
      line-height: 1.1916666826;
      color: #100d81;
      font-family: Poppins, 'Source Sans Pro';
      width: 14.3rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 600;
      white-space: nowrap;
      left: 33.8rem;
    }
    .heading-2-about-the-class-KjD {
      top: 188.75rem;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.1916666826;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 21.4rem;
      height: 2.9rem;
      position: absolute;
      left: 33.8rem;
      display: flex;
      color: #100d81;
    }
    .heading-2-about-the-class-E5V {
      left: 33.8rem;
      display: flex;
      font-size: 2.4rem;
      line-height: 1.1916666826;
      white-space: nowrap;
      height: 2.9rem;
      position: absolute;
      font-weight: 600;
      color: #100d81;
      font-family: Poppins, 'Source Sans Pro';
      width: 17.2rem;
      top: 198.15rem;
    }
    .heading-2-about-the-class-imM {
      height: 2.9rem;
      top: 207.55rem;
      display: flex;
      color: #100d81;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.2rem;
      left: 33.8rem;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.1916666826;
      position: absolute;
    }
    .heading-2-about-the-class-Di7 {
      width: 16.5rem;
      height: 2.9rem;
      left: 33.8rem;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.1916666826;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      top: 216.95rem;
      display: flex;
      color: #100d81;
      white-space: nowrap;
    }
    .heading-2-about-the-class-6G7 {
      width: 23.2rem;
      left: 33.8rem;
      font-size: 2.4rem;
      font-weight: 600;
      color: #100d81;
      font-family: Poppins, 'Source Sans Pro';
      height: 2.9rem;
      position: absolute;
      top: 226.35rem;
      display: flex;
      line-height: 1.1916666826;
      white-space: nowrap;
    }
    .heading-2-about-the-class-xJK {
      top: 235.75rem;
      white-space: nowrap;
      position: absolute;
      left: 33.8rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.1916666826;
      width: 26.8rem;
      height: 2.9rem;
      color: #100d81;
      font-family: Poppins, 'Source Sans Pro';
    }
    .heading-2-about-the-class-dvF {
      top: 279.45rem;
      display: flex;
      font-weight: 600;
      line-height: 1.1916666826;
      color: #100d81;
      white-space: nowrap;
      position: absolute;
      left: 33.7rem;
      font-size: 2.4rem;
      font-family: Poppins, 'Source Sans Pro';
      width: 5.6rem;
      height: 2.9rem;
    }
    .biceps-brachii-and-forearm-muscles-iRu {
      position: absolute;
      top: 183.2rem;
      display: flex;
      line-height: 1.4300000191;
      color: #34343c;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.9rem;
      left: 33.8rem;
      font-size: 2rem;
      font-weight: 400;
      width: 36.7rem;
    }
    .beginner-friendly-DNf {
      left: 33.8rem;
      top: 192.6rem;
      display: flex;
      line-height: 1.4300000191;
      color: #34343c;
      width: 17.9rem;
      height: 2.9rem;
      position: absolute;
      white-space: nowrap;
      font-size: 2rem;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
    }
    .item-3-umH {
      position: absolute;
      left: 33.8rem;
      line-height: 1.4300000191;
      color: #34343c;
      font-family: Poppins, 'Source Sans Pro';
      width: 1.2rem;
      height: 2.9rem;
      top: 202rem;
      display: flex;
      font-size: 2rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .minutes-b8K {
      width: 11.6rem;
      display: flex;
      font-weight: 400;
      color: #34343c;
      font-family: Poppins, 'Source Sans Pro';
      line-height: 1.4300000191;
      white-space: nowrap;
      height: 2.9rem;
      position: absolute;
      left: 33.8rem;
      top: 211.4rem;
      font-size: 2rem;
    }
    .cal-6qm {
      left: 33.8rem;
      top: 220.8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.4300000191;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      height: 2.9rem;
      display: flex;
      color: #34343c;
      white-space: nowrap;
      width: 6.8rem;
    }
    .barbell-1C3 {
      color: #34343c;
      height: 2.9rem;
      position: absolute;
      left: 33.8rem;
      display: flex;
      line-height: 1.4300000191;
      white-space: nowrap;
      width: 7rem;
      top: 230.2rem;
      font-size: 2rem;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
    }
    .stand-up-straight-with-your-feet-shoulder-width-apart-hold-a-barbell-with-a-shoulder-width-grip-palms-facing-forward-an-underhand-grip-your-hands-should-be-positioned-slightly-wider-than-your-shoulders-keep-your-wrists-straight-and-aligned-with-your-forearms-maintain-a-straight-back-chest-up-and-shoulders-back-while-keeping-your-upper-arms-stationary-exhale-and-curl-the-barbell-towards-your-shoulders-by-flexing-your-elbows-focus-on-contracting-your-biceps-throughout-the-movement-inhale-and-slowly-lower-the-barbell-back-to-the-starting-position-with-controlled-movement-maintain-tension-on-the-biceps-during-the-descent-do-not-let-the-weight-drop-repeat-the-movement-for-the-desired-number-of-repetitions-exhale-during-the-lifting-concentric-phase-and-inhale-during-the-lowering-eccentric-phase-5So {
      color: #34343c;
      font-family: Poppins, 'Source Sans Pro';
      height: 34.4rem;
      top: 241rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.4300000191;
      width: 93.4rem;
      position: absolute;
      left: 32.8rem;
      display: flex;
    }
    .avoid-using-momentum-by-keeping-your-body-still-focus-on-isolating-the-biceps-use-a-weight-that-allows-you-to-maintain-proper-form-and-control-throughout-the-exercise-ensure-a-full-range-of-motion-allowing-your-arms-to-fully-extend-at-the-bottom-and-flex-at-the-top-e23 {
      font-family: Poppins, 'Source Sans Pro';
      width: 92.3rem;
      position: absolute;
      left: 32.4rem;
      line-height: 1.4300000191;
      color: #34343c;
      height: 11.5rem;
      top: 283.3rem;
      display: flex;
      font-size: 2rem;
      font-weight: 400;
    }
  }
  .auto-group-zjew-duZ {
    height: 175.2rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .group-7-P83 {
      width: 144.0998rem;
      height: 170.6rem;
      position: absolute;
      left: 0;
      top: 4.6rem;

      .section-6o9 {
        padding-top: 5.4rem;
        position: absolute;
        background-color: #04243f;
        left: 0.1984rem;
        top: 0;
        overflow: hidden;
        box-sizing: border-box;
        width: 143.9014rem;
        height: 37.5rem;

        .auto-group-tago-RKd {
          width: 84.2rem;
          height: 12.4rem;
          position: relative;
          margin: 0rem 0rem 3.3rem 2.8rem;

          .divbackstretch-item-wHy {
            width: 84.2rem;
            height: 9.3rem;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
          }
          .heading-3-soulcycle-on-the-go-shR {
            display: flex;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            left: 5rem;
            top: 1.3rem;
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 1;
            width: 71.6rem;
            height: 11.1rem;
            position: absolute;

            .heading-3-soulcycle-on-the-go-shR-sub-0 {
              font-family: Crimson Text, 'Source Sans Pro';
              font-size: 4rem;
              font-weight: 700;
              line-height: 1.2998046875;
              color: #ffffff;
            }
            .heading-3-soulcycle-on-the-go-shR-sub-1 {
              line-height: 1.2998046875;
              color: #ffffff;
              font-family: Crimson Text, 'Source Sans Pro';
              font-size: 4.8rem;
              font-weight: 700;
            }
            .heading-3-soulcycle-on-the-go-shR-sub-2 {
              font-size: 3.6rem;
              font-weight: 600;
              line-height: 1.3333333333;
              color: #ffffff;
              font-family: Crimson Text, 'Source Sans Pro';
            }
            .heading-3-soulcycle-on-the-go-shR-sub-3 {
              font-family: Crimson Text, 'Source Sans Pro';
              font-size: 4.8rem;
              font-weight: 600;
              line-height: 1;
              color: #ffffff;
            }
            .heading-3-soulcycle-on-the-go-shR-sub-4 {
              font-size: 3.2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #ffffff;
              font-family: Crimson Text, 'Source Sans Pro';
            }
          }
        }
        .auto-group-wwgt-aQo {
          margin: 0rem 99.035rem 6.325rem 7.8rem;
          width: calc(100% - 106.8354rem);
          display: flex;
          align-items: center;

          .link-appstoresvg-68F {
            height: 4.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 4.6rem;
            width: 16.2rem;
          }
          .link-googleplaysvg-ccP {
            width: 16.266rem;
            height: 4.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .divshape-xAT {
          width: 144.1rem;
          height: 5.375rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .section-6Gf {
        display: flex;
        flex-direction: column;
        width: 90.1rem;
        height: 16.4551rem;
        position: absolute;
        left: 26.6703rem;
        top: 42.75rem;
        align-items: center;

        .heading-2-cant-go-to-a-curves-club-try-mycurves-on-demand-for-d1h {
          color: #233470;
          flex-shrink: 0;
          justify-content: center;
          font-size: 4rem;
          line-height: 1.05;
          align-items: center;
          font-weight: 600;
          font-family: Crimson Text, 'Source Sans Pro';
          margin-bottom: 1.4551rem;
          max-width: 90.1rem;
          display: flex;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nulla-facilisi-in-hac-habitasse-platea-dictumst-vivamus-eget-fermentum-augue-integer-congue-libero-nec-congue-fermentum-neque-turpis-eleifend-libero-sit-amet-dictum-dolor-felis-quis-quam-sed-tincidunt-hXM {
          color: #34343c;
          flex-shrink: 0;
          max-width: 72.7rem;
          display: flex;
          justify-content: center;
          font-weight: 400;
          line-height: 1.4666666667;
          margin-left: 0.2181rem;
          align-items: center;
          font-size: 1.5rem;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .section-heading-2-discover-the-other-classes-at-curves-6ZV {
        font-family: Crimson Text, 'Source Sans Pro';
        height: 2.9rem;
        position: absolute;
        top: 67.25rem;
        align-items: center;
        justify-content: center;
        font-size: 3.2rem;
        line-height: 0.8937500119;
        left: 47.2999rem;
        font-weight: 600;
        width: 49.5rem;
        display: flex;
        color: #233470;
        white-space: nowrap;
      }
      .auto-group-muet-AJT {
        top: 106rem;
        display: flex;
        align-items: flex-end;
        width: 108.5684rem;
        height: 12.9rem;
        position: absolute;
        left: 17.9148rem;

        .section-article-high-intensity-cardio-classes-that-H8B {
          display: flex;
          font-weight: 400;
          line-height: 1.6666666667;
          flex-shrink: 0;
          margin-right: 5.3406rem;
          max-width: 32rem;
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
          color: #2c435f;
          font-family: Poppins, 'Source Sans Pro';
        }
        .section-article-high-intensity-cardio-classes-that-ymh {
          margin-right: 7.2277rem;
          max-width: 32rem;
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6666666667;
          color: #2c435f;
          flex-shrink: 0;
          display: flex;
          font-family: Poppins, 'Source Sans Pro';
        }
        .section-article-high-intensity-cardio-classes-that-UTZ {
          display: flex;
          color: #2c435f;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          max-width: 32rem;
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.6666666667;
        }
      }
      .auto-group-ybef-NYw {
        width: 88.3359rem;
        height: 2.2441rem;
        position: absolute;
        left: 27.9205rem;
        top: 120.6559rem;
        display: flex;
        align-items: center;

        .group-4-6jq {
          width: 10.2484rem;
          height: calc(100% - 0.0441rem);
          position: relative;
          flex-shrink: 0;
          margin: 0rem 29.306rem 0.044rem 0rem;

          .section-article-read-more--1ro {
            display: flex;
            font-family: Poppins, 'Source Sans Pro';
            width: 8.5rem;
            position: absolute;
            left: 0;
            align-items: center;
            font-weight: 400;
            white-space: nowrap;
            height: 2.2rem;
            top: 0;
            justify-content: center;
            font-size: 1.5rem;
            line-height: 1.4666666667;
            color: #233470;
          }
          .section-article-Jqu {
            vertical-align: top;
            width: 0.785rem;
            height: 1.3526rem;
            position: absolute;
            left: 8.9065rem;
            top: 0.423rem;
            object-fit: contain;
          }
          .section-article-SBR {
            width: 10.1923rem;
            height: 0.1rem;
            position: absolute;
            left: 0.0561rem;
            top: 2.1rem;
            background-color: #233470;
          }
        }
        .group-5-wts {
          position: relative;
          flex-shrink: 0;
          margin: 0.044rem 28.284rem 0rem 0rem;
          width: 10.2484rem;
          height: calc(100% - 0.0441rem);

          .section-article-read-more--sXd {
            align-items: center;
            color: #233470;
            position: absolute;
            left: 0;
            justify-content: center;
            font-weight: 400;
            width: 8.5rem;
            top: 0;
            display: flex;
            font-size: 1.5rem;
            white-space: nowrap;
            height: 2.2rem;
            line-height: 1.4666666667;
            font-family: Poppins, 'Source Sans Pro';
          }
          .section-article-n8o {
            left: 8.9065rem;
            top: 0.423rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.785rem;
            height: 1.3526rem;
            position: absolute;
          }
          .section-article-WqV {
            left: 0.0561rem;
            top: 2.1rem;
            background-color: #233470;
            width: 10.1923rem;
            height: 0.1rem;
            position: absolute;
          }
        }
        .group-6-SUF {
          width: 10.2484rem;
          height: calc(100% - 0.0441rem);
          position: relative;
          flex-shrink: 0;
          margin-top: 0.0441rem;

          .section-article-read-more--yyy {
            width: 8.5rem;
            top: 0;
            font-size: 1.5rem;
            font-weight: 400;
            font-family: Poppins, 'Source Sans Pro';
            height: 2.2rem;
            left: 0;
            align-items: center;
            color: #233470;
            position: absolute;
            display: flex;
            justify-content: center;
            line-height: 1.4666666667;
            white-space: nowrap;
          }
          .section-article-h9H {
            vertical-align: top;
            width: 0.785rem;
            height: 1.3526rem;
            position: absolute;
            left: 8.9065rem;
            top: 0.423rem;
            object-fit: contain;
          }
          .section-article-pzb {
            position: absolute;
            left: 0.0561rem;
            top: 2.1rem;
            background-color: #233470;
            width: 10.1923rem;
            height: 0.1rem;
          }
        }
      }
      .auto-group-nm59-xL7 {
        position: absolute;
        left: 27.3367rem;
        top: 103.0719rem;
        display: flex;
        align-items: center;
        width: 86.9717rem;
        height: 2.1281rem;

        .section-article-heading-3-cardio-classes-shy {
          margin: 0rem 22.58rem 0.028rem 0rem;
          font-size: 1.9rem;
          font-weight: 600;
          line-height: 1.0999999799;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #100d81;
          flex-shrink: 0;
        }
        .section-article-heading-3-body-basics-classes-a6b {
          line-height: 1.0999999799;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.028rem 24.292rem 0rem 0rem;
          display: flex;
          justify-content: center;
          color: #100d81;
          white-space: nowrap;
          align-items: center;
          font-size: 1.9rem;
          font-weight: 600;
        }
        .section-article-heading-3-balance-classes-rpo {
          align-items: center;
          font-size: 1.9rem;
          line-height: 1.0999999799;
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.0281rem;
          display: flex;
          justify-content: center;
          font-weight: 600;
          color: #100d81;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-mjhm-N2T {
        display: flex;
        align-items: flex-start;
        width: 101.1976rem;
        height: 27.1rem;
        position: absolute;
        left: 19.7629rem;
        top: 74.9rem;

        .group-7-15R {
          height: calc(100% - 2.1rem);
          background-repeat: no-repeat;
          flex-shrink: 0;
          margin: 0.6rem 6.509rem 1.5rem 0rem;
          box-sizing: border-box;
          padding: 1.6rem 2.191rem 1.7rem 2.137rem;
          background-size: cover;
          background-position: center;
          background-image: url('REPLACE_IMAGE:929:342');

          .rectangle-813-Gn3 {
            height: 21.7rem;
            object-fit: cover;
            vertical-align: top;
            width: 20.5rem;
          }
        }
        .group-8-aXq {
          position: relative;
          flex-shrink: 0;
          margin: 0.8rem 11.9rem 0rem 0rem;
          width: 33.1rem;
          height: 26.3rem;

          .ellipse-2-71y {
            width: 24.8277rem;
            height: 25rem;
            position: absolute;
            left: 7.1953rem;
            top: 0;
            object-fit: contain;
            vertical-align: top;
          }
          .rectangle-813-e1u {
            vertical-align: top;
            width: 33.1rem;
            height: 24.9rem;
            position: absolute;
            left: 0;
            top: 1.4rem;
            object-fit: cover;
          }
        }
        .group-9-AW3 {
          position: relative;
          flex-shrink: 0;
          width: 24.8605rem;
          height: 25.8rem;

          .ellipse-2-iXZ {
            left: 0.0328rem;
            top: 0.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 24.8277rem;
            height: 25rem;
            position: absolute;
          }
          .rectangle-813-eAK {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 22.3rem;
            height: 21.4rem;
            position: absolute;
            left: 0;
          }
        }
      }
      .divfooterfootercontainer-sc-1eloju9-1-n1d {
        background-color: #04243f;
        box-sizing: border-box;
        padding: 5.6rem 12rem 11.1rem 12rem;
        width: 144rem;
        height: 40.6rem;
        position: absolute;
        left: 0;
        top: 130rem;

        .auto-group-4eib-TtT {
          margin: 0rem 95rem 1.6rem 0rem;
          width: calc(100% - 95rem);
          display: flex;
          align-items: center;

          .heading-4-company-C5M {
            display: flex;
            color: #91acc4;
            font-family: Crimson Text, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.5rem;
            font-weight: 700;
            line-height: 1.25;
            letter-spacing: 0.17rem;
            text-transform: uppercase;
            font-size: 1.6rem;
          }
          .heading-4-help-h27 {
            font-family: Crimson Text, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: 0.17rem;
            text-transform: uppercase;
            color: #91acc4;
            display: flex;
            line-height: 1.25;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-zbcj-bdH {
          width: calc(100% - 97.1rem);
          display: flex;
          align-items: center;
          margin: 0rem 97.1rem 1.6rem 0rem;

          .list-item-link-our-story-ixo {
            line-height: 1.4222222222;
            letter-spacing: 0.05rem;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 14.9rem;
            display: flex;
            font-weight: 400;
            flex-shrink: 0;
            font-size: 1.125rem;
            color: #ffffff;
            white-space: nowrap;
          }
          .list-item-link-faq-q1q {
            display: flex;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 0.05rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.3333333333;
            flex-shrink: 0;
          }
        }
        .auto-group-67cb-YS3 {
          align-items: center;
          margin: 0rem 88.1rem 1.6rem 0rem;
          width: calc(100% - 88.1rem);
          display: flex;

          .list-item-link-careers-g2T {
            font-family: Inter, 'Source Sans Pro';
            margin-right: 15.8rem;
            font-size: 1.1438rem;
            line-height: 1.3989071038;
            letter-spacing: 0.05rem;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-weight: 400;
          }
          .list-item-link-terms-conditions-PBm {
            letter-spacing: 0.05rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.1438rem;
            font-weight: 400;
            line-height: 1.3989071038;
          }
        }
        .auto-group-8spz-JJj {
          display: flex;
          align-items: center;
          margin-bottom: 2.4rem;
          width: 100%;
          height: 9.1rem;

          .auto-group-e8qo-qpT {
            align-items: flex-start;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-right: 5.8rem;
            height: 100%;
            display: flex;

            .auto-group-nlzj-Pb5 {
              margin-right: 16.9rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .list-item-link-philanthropy-94T {
                font-size: 1.1438rem;
                font-weight: 400;
                letter-spacing: 0.05rem;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                display: flex;
                line-height: 1.3989071038;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .list-item-link-philanthropy-SpF {
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.1438rem;
                line-height: 1.3989071038;
                letter-spacing: 0.05rem;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
              }
            }
            .auto-group-mv6w-AET {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 37.7rem;

              .list-item-link-privacy-policy-7fV {
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                display: flex;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.1438rem;
                line-height: 1.3989071038;
                letter-spacing: 0.05rem;
                color: #ffffff;
              }
              .list-item-link-contact-us-2XZ {
                letter-spacing: 0.05rem;
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                line-height: 1.3989071038;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.1438rem;
                font-weight: 400;
              }
            }
            .divfooterfollowcontent-mspt9q-8-kCf {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .social-media-u5Z {
                font-weight: 700;
                letter-spacing: 0.17rem;
                text-transform: uppercase;
                flex-shrink: 0;
                margin-bottom: 1.2rem;
                display: flex;
                color: #91acc4;
                font-family: Crimson Text, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.6rem;
                line-height: 0.75;
              }
              .auto-group-lmom-pyD {
                display: flex;
                align-items: flex-end;
                flex-shrink: 0;

                .clip-path-group-yr7 {
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.9rem;
                  width: 2.5rem;
                  height: 2.5rem;
                }
                .auto-group-hv8s-Wr3 {
                  margin-right: 1.1rem;
                  width: 5.9rem;
                  height: 2.9rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .path-2520-FHq {
                  width: 2.5rem;
                  height: 2.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.1rem;
                }
              }
            }
          }
          .auto-group-hs2b-a5D {
            width: 34.8rem;
            height: 100%;
            flex-shrink: 0;

            .stay-updated-with-us-ves {
              letter-spacing: 0.17rem;
              color: #91acc4;
              white-space: nowrap;
              margin-bottom: 2.4rem;
              font-weight: 700;
              line-height: 0.75;
              font-family: Crimson Text, 'Source Sans Pro';
              display: flex;
              font-size: 1.6rem;
              text-transform: uppercase;
            }
            .input-email-rHd {
              height: 5.5rem;
              display: flex;
              align-items: center;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 1.1rem 2.2rem 1rem 2.1rem;
              width: 100%;

              .label-P2f {
                font-size: 1.4625rem;
                font-weight: 500;
                letter-spacing: 0.05rem;
                white-space: nowrap;
                background-color: #ffffff;
                flex-shrink: 0;
                margin: 0.45rem 13.1rem 0.5rem 0rem;
                height: calc(100% - 0.95rem);
                display: flex;
                line-height: 1.641025641;
                color: #75787b;
                font-family: Inter, 'Source Sans Pro';
              }
              .button-submit-fks {
                width: 3.2rem;
                height: 3.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .copyright-2023-fitsnap-NfH {
          margin-left: 85.2rem;
          line-height: 1.7142857143;
          letter-spacing: 0.05rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.4rem;
          font-weight: 400;
          color: #ffffff;
        }
      }
    }
    .rectangle-817-53u {
      left: 87.2rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 26.8rem;
      height: 48.3rem;
      position: absolute;
    }
    .rectangle-818-zwZ {
      background-image: url('REPLACE_IMAGE:d78f96ca83fcad280e5d74ebef47212eaf8d8ac5');
      width: 26.8rem;
      height: 48.3rem;
      position: relative;
      left: 113.2rem;
      top: 3.9rem;
      background-size: 180.224% 100%;
      background-position: -9.9295rem -0.0912rem;
    }
  }
}
