<div class="sectionImage"><img src="assets/section-image-icon.svg" alt="" class="icon" /></div>
<div class="oouiNextLtr"><img src="assets/ooui-next-ltr-icon.svg" alt="" class="icon2" /></div>
<div class="oouiNextLtr2"><img src="assets/ooui-next-ltr-icon2.svg" alt="" class="icon3" /></div>
<div class="oouiNextLtr3"><img src="assets/ooui-next-ltr-icon3.svg" alt="" class="icon4" /></div>
<div class="sectionListItemLinkHome">Home</div>
<div class="sectionListItemLinkPrograms">Exercise</div>
<div class="sectionListItemBoxingClasses">Bicep</div>
<div class="sectionListItemBoxingClasses2">Barbell Bicep Curl</div>
<div class="section">
  <div class="heading1BoxingClasses">Barbell Bicep Curl</div>
  <div class="theBarbellCurlIsAClassicAndEff">
    The barbell curl is a classic and effective bicep exercise that targets the muscles in the front of your upper arms,
    specifically the biceps brachii.
  </div>
</div>
<div class="sectionHeading3BurnMoreCalorie">Bicep Development</div>
<div class="sectionBoxingEngagesAllYourMus">
  he barbell bicep curl specifically targets the biceps brachii, contributing to their development and definition
</div>
<div class="sectionHeading3ImproveYourCoor">Increased Muscle Engagement</div>
<div class="sectionLearnToMoveYourHandsAnd">
  By maintaining strict form and controlling the weight, you ensure that the biceps are doing the majority of the work,
  leading to better muscle engagement and growth.
</div>
<div class="sectionHeading3StrengthenYourB">Strengthen Building</div>
<div class="sectionWhileAlsoGettingYourHea">
  The exercise allows for heavy resistance, promoting strength gains in the biceps and surrounding muscle groups
</div>
<div class="section2">
  <div class="indicatorLeftSvgFill">
    <div class="indicatorLeftSvg"><img src="assets/indicator-left-svg-icon.svg" alt="" class="icon5" /></div>
  </div>
</div>
<div class="indicatorLeftSvg2"><img src="assets/indicator-left-svg-icon2.svg" alt="" class="icon6" /></div>
<div class="sectionHeading3RelieveYourStre">Compound Movement</div>
<div class="sectionMuchLikeARunnerSHighBox">
  While primarily an isolation exercise for the biceps, the barbell curl involves other muscles to a lesser extent, such
  as the forearms, shoulders, and upper back. This makes it a compound movement that engages multiple muscle groups
</div>
<div class="indicatorRightSvg"><img src="assets/indicator-right-svg-icon.svg" alt="" class="icon7" /></div>
<div class="indicatorRightSvgFill">
  <div class="indicatorRightSvg2"><img src="assets/indicator-right-svg-icon2.svg" alt="" class="icon8" /></div>
</div>
<div class="section3">
  <div class="heading2AboutTheClass">About the Exercise</div>
  <div class="theBarbellCurlIsAClassicAndEff2">
    The barbell curl is a classic and effective bicep exercise that targets the muscles in the front of your upper arms,
    specifically the biceps brachii. Barbell curls into your workout routine can help develop and strengthen your
    biceps, contributing to overall arm strength and aesthetics
  </div>
</div>
<div class="heading2AboutTheClass2">Target area</div>
<div class="heading2AboutTheClass3">Level for difficulty</div>
<div class="heading2AboutTheClass4">Number of set</div>
<div class="heading2AboutTheClass5">Duration</div>
<div class="heading2AboutTheClass6">Calories burn</div>
<div class="heading2AboutTheClass7">Equipment needed</div>
<div class="heading2AboutTheClass8">Instruction to perform</div>
<div class="heading2AboutTheClass9">Tips</div>
<div class="divTpWidgetContainer">
  <div class="divTpTitle"><div class="_100NewUsersEnrolled">100+ new users enrolled</div></div>
  <div class="divTpBody"><div class="joinNowToGet20InstantDiscount">join now to get 20% instant discount</div></div>
  <div class="linkSVG"><img src="assets/link-svg-icon.svg" alt="" class="icon9" /></div>
  <div class="link"></div>
  <div class="rectangle814"></div>
</div>
<div class="banner">
  <div class="divContentContainer">
    <div class="navigationLinkHome">Home</div>
    <div class="navigationLinkGLASFASER">Workout plan</div>
    <div class="navigationLinkAIAssistant">Ai tracker</div>
    <div class="navigationLinkAIAssistant2">Exercise</div>
    <div class="navigationLinkAbout">About</div>
    <div class="navigationLink">
      <div class="login">Login</div>
      <div class="octiconPerson24"><img src="assets/octicon-person-24-icon.svg" alt="" class="icon10" /></div>
    </div>
  </div>
</div>
<div class="ellipse1"><img src="assets/ellipse-1-icon.svg" alt="" class="icon11" /></div>
<div class="rectangle810"></div>
<div class="rectangle809"></div>
<div class="section4">
  <div class="divBackstretchItem"></div>
  <div class="heading3SoulCycleOnTheGo">
    <p class="labelWrapper">
      <span class="label">Download FitSnap Now</span>
      <span class="label2"></span>
    </p>
    <div class="textBlock">
      <p class="labelWrapper2">
        <span class="label3">and turn every workout into a visual</span>
        <span class="label4"></span>
        <span class="label5">masterpiece</span>
      </p>
    </div>
  </div>
  <div class="divShape">
    <div class="sVG"><img src="assets/svg-icon.svg" alt="" class="icon12" /></div>
  </div>
  <div class="linkApp_storeSvg">
    <div class="app_storeSvgFill">
      <div class="app_storeSvg"><img src="assets/appstore-svg-icon.svg" alt="" class="icon13" /></div>
    </div>
  </div>
  <div class="linkGoogle_playSvg">
    <div class="google_playSvgFill">
      <div class="google_playSvg"><img src="assets/googleplay-svg-icon.svg" alt="" class="icon14" /></div>
    </div>
  </div>
</div>
<div class="section5">
  <div class="heading2CanTGoToACurvesClubTry">
    Elevate Your Fitness: The AI Workout Plan – Precision, Progression, Perfection
  </div>
  <div class="loremIpsumDolorSitAmetConsecte">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. In hac habitasse platea dictumst. Vivamus
    eget fermentum augue. Integer congue, libero nec congue fermentum, neque turpis eleifend libero, sit amet dictum
    dolor felis quis quam. Sed tincidunt
  </div>
</div>
<div class="sectionHeading2DiscoverTheOthe">Discover the other exercise at FitSnap</div>
<div class="sectionArticleHighIntensityCar">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. In hac habitasse platea dictumst. Vivamus
  eget fermentum
</div>
<div class="sectionArticleHighIntensityCar2">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. In hac habitasse platea dictumst. Vivamus
  eget fermentum
</div>
<div class="sectionArticleHighIntensityCar3">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. In hac habitasse platea dictumst. Vivamus
  eget fermentum
</div>
<div class="sectionArticleReadMore">Read More</div>
<div class="sectionArticle"><img src="assets/section-article-icon.svg" alt="" class="icon15" /></div>
<div class="sectionArticle2"></div>
<div class="sectionArticleReadMore2">Read More</div>
<div class="sectionArticle3"><img src="assets/section-article-icon2.svg" alt="" class="icon16" /></div>
<div class="sectionArticle4"></div>
<div class="sectionArticleReadMore3">Read More</div>
<div class="sectionArticle5"><img src="assets/section-article-icon3.svg" alt="" class="icon17" /></div>
<div class="sectionArticle6"></div>
<div class="sectionArticleHeading3CardioCl">Chest press</div>
<div class="sectionArticleHeading3BodyBasi">Straight leg deadlift</div>
<div class="sectionArticleHeading3BalanceC">Crunches</div>
<div class="ellipse2"><img src="assets/ellipse-2-icon.svg" alt="" class="icon18" /></div>
<div class="rectangle813"></div>
<div class="ellipse22"><img src="assets/ellipse-2-icon2.svg" alt="" class="icon19" /></div>
<div class="rectangle8132"></div>
<div class="ellipse23"><img src="assets/ellipse-2-icon3.svg" alt="" class="icon20" /></div>
<div class="rectangle8133"></div>
<div class="divFooter__FooterContainerSc1e">
  <div class="heading4Company">company</div>
  <div class="listItemLinkOurStory">Our story</div>
  <div class="listItemLinkCareers">Careers</div>
  <div class="listItemLinkPhilanthropy">About</div>
  <div class="listItemLinkPhilanthropy2">Blog</div>
  <div class="heading4Help">help</div>
  <div class="listItemLinkFAQ">FAQ</div>
  <div class="listItemLinkTermsConditions">Terms &amp;amp; Conditions</div>
  <div class="listItemLinkPrivacyPolicy">Privacy Policy</div>
  <div class="listItemLinkContactUs">Contact Us</div>
  <div class="divFooter__FollowContentMspt9q">
    <div class="socialMedia">Social media</div>
    <div class="linkFacebookSVG"></div>
    <div class="rectangle"></div>
    <div class="xSvg"><img src="assets/x-svg-icon.svg" alt="" class="icon21" /></div>
    <div class="path2520"><img src="assets/path-2520-icon.svg" alt="" class="icon22" /></div>
  </div>
  <div class="stayUpdatedWithUs">Stay updated with Us</div>
  <div class="copyright2023FitSnap">Copyright © 2023 FitSnap</div>
  <div class="inputEmail">
    <div class="label6"><div class="yourEmailAddress">Your email address</div></div>
    <button class="buttonSubmit">
      <div class="sVG2"><img src="assets/svg-icon2.svg" alt="" class="icon23" /></div>
    </button>
  </div>
  <div class="vector"><img src="assets/vector-icon.svg" alt="" class="icon24" /></div>
</div>
<div class="bicepsBrachiiAndForearmMuscles">Biceps brachii and forearm muscles</div>
<div class="beginnerFriendly">Beginner friendly</div>
<div class="_3">3</div>
<div class="_20Minutes">20 minutes</div>
<div class="_150Cal">150 cal</div>
<div class="barbell">Barbell</div>
<div class="standUpStraightWithYourFeetSho">
  <ul class="list">
    <li><div class="textBlock2">Stand up straight with your feet shoulder-width apart.</div></li>
    <li>
      <div class="textBlock3">Hold a barbell with a shoulder-width grip, palms facing forward (an underhand grip).</div>
    </li>
    <li><div class="textBlock4">Your hands should be positioned slightly wider than your shoulders.</div></li>
    <li><div class="textBlock5">Keep your wrists straight and aligned with your forearms.</div></li>
    <li><div class="textBlock6">Maintain a straight back, chest up, and shoulders back.</div></li>
    <li>
      <div class="textBlock7">
        While keeping your upper arms stationary, exhale and curl the barbell towards your shoulders by flexing your
        elbows.
      </div>
    </li>
    <li><div class="textBlock8">Focus on contracting your biceps throughout the movement.</div></li>
    <li>
      <div class="textBlock9">
        Inhale and slowly lower the barbell back to the starting position with controlled movement.
      </div>
    </li>
    <li>
      <div class="textBlock10">Maintain tension on the biceps during the descent; do not let the weight drop.</div>
    </li>
    <li><div class="textBlock11">Repeat the movement for the desired number of repetitions.</div></li>
    <li>
      <div class="textBlock12">
        Exhale during the lifting (concentric) phase and inhale during the lowering (eccentric) phase.
      </div>
    </li>
  </ul>
</div>
<div class="avoidUsingMomentumByKeepingYou">
  <ul class="list2">
    <li>
      <div class="textBlock13">Avoid using momentum by keeping your body still. Focus on isolating the biceps.</div>
    </li>
    <li>
      <div class="textBlock14">
        Use a weight that allows you to maintain proper form and control throughout the exercise.
      </div>
    </li>
    <li>
      <div class="textBlock15">
        Ensure a full range of motion, allowing your arms to fully extend at the bottom and flex at the top.
      </div>
    </li>
  </ul>
</div>
<div class="rectangle817"></div>
<div class="rectangle818"></div>
